@charset "UTF-8";
@use "../define/variable" as var;
@use "../define/mixin";

/* ----------------------------------------------------------------------------
* visually-hidden : 視覚的に隠したい要素がある場合に指定する調整クラス
* ------------------------------------------------------------------------- */
.a11y-hidden {
  @include mixin.visually-hidden;
}

/* ----------------------------------------------------------------------------
* 文字の位置揃え .align-
* ------------------------------------------------------------------------- */

.align-r {
  text-align: right !important;
}

.align-c {
  text-align: center !important;
}

.align-l {
  text-align: left !important;
}

/* ----------------------------------------------------------------------------
* 縦方向位置揃え .valign-
* ------------------------------------------------------------------------- */

.valign-t {
  vertical-align: top !important;
}

.valign-m {
  vertical-align: middle !important;
}

.valign-b {
  vertical-align: bottom !important;
}

/* ----------------------------------------------------------------------------
* 幅調整 .w-100 / .w-sp-100 [SP時の幅指定]
* ------------------------------------------------------------------------- */
@for $i from 1 through 100 {
  $n: $i * 1%;

  .w-#{$i * 1} {
    width: $n !important;
  }

  // SP時の幅指定用
  .w-sp-#{$i * 1} {
    @include mixin.media-max {
      width: $n !important;
    }
  }
}

.w-33-3 {
  width: 33.3% !important;
}

// SP時の幅指定用
.w-sp-33-3 {
  @include mixin.media-max {
    width: 33.3% !important;
  }
}

// @for $i from 11 through 20 {
//   $n: $i * 5%;

//   .w-#{$i * 5} {
//     width: $n !important;
//   }

//   .w-sp-#{$i * 5} {
//     @include mixin.media-max {
//       width: $n !important;
//     }
//   }
// }

/* ----------------------------------------------------------------------------
* 余白調整 .pt-
* ------------------------------------------------------------------------- */
@for $i from 0 through 20 {
  $n: $i * 5px;

  .pt-#{$i * 5} {
    padding-top: $n !important;
  }
}

/* ----------------------------------------------------------------------------
* 余白調整 .pb-
* ------------------------------------------------------------------------- */
@for $i from 0 through 20 {
  $n: $i * 5px;

  .pb-#{$i * 5} {
    padding-bottom: $n !important;
  }
}

/* ----------------------------------------------------------------------------
* 余白調整 .pl-
* ------------------------------------------------------------------------- */
@for $i from 0 through 20 {
  $n: $i * 5px;

  .pl-#{$i * 5} {
    padding-left: $n !important;
  }
}

/* ----------------------------------------------------------------------------
* 余白調整 .pl-
* ------------------------------------------------------------------------- */
@for $i from 0 through 20 {
  $n: $i * 5px;

  .pr-#{$i * 5} {
    padding-right: $n !important;
  }
}

/* ----------------------------------------------------------------------------
* 余白調整 .mt-
* ------------------------------------------------------------------------- */
@for $i from 0 through 20 {
  $n: $i * 5px;

  .mt-#{$i * 5} {
    margin-top: $n !important;
  }
}

/* ----------------------------------------------------------------------------
* 余白調整 .mb-
* ------------------------------------------------------------------------- */
@for $i from 0 through 20 {
  $n: $i * 5px;

  .mb-#{$i * 5} {
    margin-bottom: $n !important;
  }
}

/* ----------------------------------------------------------------------------
* 余白調整 .mr-
* ------------------------------------------------------------------------- */
@for $i from 0 through 20 {
  $n: $i * 5px;

  .mr-#{$i * 5} {
    margin-right: $n !important;
  }
}

/* ----------------------------------------------------------------------------
* 余白調整 .ml-
* ------------------------------------------------------------------------- */
@for $i from 0 through 20 {
  $n: $i * 5px;

  .ml-#{$i * 5} {
    margin-left: $n !important;
  }
}

/* ----------------------------------------------------------------------------
* PC/SP表示調整
* ------------------------------------------------------------------------- */
@include mixin.media-max {
  .sp-hide {
    display: none !important;
  }
}

@include mixin.media-min {
  .pc-hide {
    display: none !important;
  }
}
