@charset "UTF-8";
@use "../define/variable" as var;
@use "../define/mixin" as *;

.m-box {
  border: 4px solid var.$color-gray-04;
  padding: 12px;

  @include component-rule-gutter("S要素");
  @include reset-inner-gutter;

  @include media-min {
    padding: 20px;
  }

  &--large {
    padding: 28px 20px;

    @include component-rule-gutter("M要素");

    @include media-min {
      padding: 36px;
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
    }
  }

  // .m-box-hdg
  &-hdg {
    position: relative;
    border-bottom: 1px solid var.$color-line;
    padding-bottom: 9px;
    line-height: 1.4;

    @include component-rule-gutter("h3");

    @include media-min {
      padding-bottom: 20px;
    }

    &::after {
      @include pseudo;

      bottom: -1px;
      left: 0;
      width: 51px;
      height: 3px;
      background-image:
        linear-gradient(
          to right,
          var.$color-green 0 24px,
          transparent 24px 27px,
          var.$color-blue 27px 51px
        );
      background-repeat: no-repeat;

      @include media-min {
        width: 63px;
        height: 4px;
        background-image:
          linear-gradient(
            to right,
            var.$color-green 0 30px,
            transparent 30px 33px,
            var.$color-blue 33px 63px
          );
      }
    }

    &__title {
      font-size: 1.6rem;

      @include media-min {
        font-size: 2rem;
      }
    }
  }

  // .m-box-hdg-2
  &-hdg-2 {
    position: relative;
    line-height: 1.4;
    margin-top: 24px;
    padding-left: 11px;

    @include media-min {
      margin-top: 40px;
      padding-left: 14px;
    }

    &::before {
      @include pseudo;

      top: calc(.5em - 5px);
      left: 0;
      width: 4px;
      height: 16px;
      background-color: var.$color-green;

      @include media-min {
        top: calc(.5em - 3px);
        width: 3px;
      }
    }

    & + * {
      margin-top: 10px;

      @include media-min {
        margin-top: 16px;
      }
    }

    &__title {
      font-size: 1.4rem;

      @include media-min {
        font-size: 1.8rem;
      }
    }
  }
}

.m-box-warning {
  border: 1px solid var.$color-red;
  padding: 24px;
  background-color: var.$color-red-02;

  @include component-rule-gutter("M要素");
  @include reset-inner-gutter;

  &__title {
    font-weight: bold;
    color: var.$color-accent-02;

    & + * {
      margin-top: 16px !important;
    }
  }
}

.m-box-contact {
  @include component-rule-gutter("M要素");
  @include create-multi-column-flex(
    $colElementName: "m-box-contact__body",
    $maxColumnWide: 3,
    $maxColumn: 1,
    $gapColumn: 40,
    $gapRow: 40,
    $gapColumnSp: 16,
    $gapRowSp: 16,
  );

  justify-content: center;

  &__title {
    font-weight: bold;
  }

  &__link {
    display: inline-block;
    position: relative;
    color: var.$color-green;
    padding-left: 38px;

    &::before {
      @include pseudo;

      top: 0;
      left: 0;
      bottom: 0;
      margin: auto 0;
      width: 28px;
      height: 28px;
      background-image: url("/common/img/icon_contact01.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__tel {
    font-weight: bold;
    font-size: 2.8rem;
    color: var.$color-green;

    @include media-min(1024px) {
      font-size: 3.2rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    padding-top: 16px;
    text-align: left;
    font-size: 1.2rem;
    background-size: 6px 1px;
    background-image:
      linear-gradient(
        to right,
        var.$color-gray-03 0 3px,
        transparent 3px 6px,
      );
    background-repeat: repeat-x;

    @include media-min {
      margin: 0 20px;
      align-items: center;
    }

    > * {
      // flexのgapを優先させるため直下の任意モジュール等上マージンを取る
      margin-top: 0 !important;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 4px;
    border: 4px solid var.$color-gray-04;
    padding: 12px 20px;
    text-align: center;

    @include reset-inner-gutter;

    @include media-min {
      padding: 24px 20px;
    }
  }
}
