@charset "UTF-8";
@use "../define/variable" as var;
@use "../define/mixin" as *;

// 一部組み込む外部ベンダーの要求仕様に応じた対応の為BEMにそぐわないルールセットの指定になっている
.m-pager {
  display: flex;
  justify-content: center;

  @include component-rule-gutter("M要素");

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var.$color-text;
    min-width: 32px;
    min-height: 32px;
    aspect-ratio: 1/1;
    border-radius: 4px;
    transition: background-color var.$animation-duration var.$animation-function;
    text-decoration: none;

    @include media-min {
      min-width: 40px;
      min-height: 40px;
      border-radius: 6px;
    }

    @include hover {
      background-color: var.$color-gray-05;
    }
  }

  // stylelint-disable-next-line selector-class-pattern
  .WCMpaged {
    display: flex;
    flex-wrap: nowrap;

    @include media-min {
      gap: 4px;
    }

    > a {
      &.current {
        background-color: var.$color-green;
        color: #ffffff;
      }
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;

    @include media-min {
      gap: 4px;
    }
  }
}
