body {
  font-family: 'Meiryo','Hiragino Kaku Gothic Pro';
  padding: 0 16px;
}

h1 {
  font-size: 30px;
  text-align: center;
}

li {
  font-size: 12px;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
}

label, input, textarea {
  display: block;
  width: 100%;
margin-top: 5px;
  line-height: 1.5;
}

.input-box {
  margin-top: 20px;
}

#output {
  margin-top: 20px;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  padding: 0.5em 2em;
  color: #444444;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #dddddd;
  border-radius: 10px;
  transition: background-color .4s;
}

.btn::after {
  content: '';
  width: 5px;
  height: 5px;
  margin-left: 5px;
  border-top: 3px solid currentColor;
  border-right: 3px solid currentColor;
  transform: rotate(45deg);
}

.btn:hover {
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  background-color: #dddddd;
}

.btn:hover::after {
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
}

#errorDiv {
  color: red;
  text-align: center;
}

.hidden {
  display: none;
}

.required-label::after {
  content: "必須";
  font-size: 12px;
  color: #ffffff;
  margin-left: 15px;
  padding: 2px 5px;
  background-color: red;
  border-radius: 5px;
  vertical-align: middle;
}

#output-text {
  width: 100%;
  padding: 5px;
  border: 1px solid #444;
}

#content {
  display: none;
}

::placeholder {
  color: #dddddd;
}