@charset "UTF-8";
@use "./variable" as var;
@use "./mixin";
@use "sass:math";

*,
*::before,
*::after {
  box-sizing: border-box;
}

// ベースとしたい基準のフォントサイズ / デフォルトフォントサイズ（16px想定）
$font-size-base: math.div(10, 16) * 100%; // 通常
$font-size-large: math.div(12, 16) * 100%; // 拡大

html {
  scroll-behavior: smooth;
  font-size: $font-size-base; // 62.5%

  &.font-large {
    font-size: $font-size-large;
  }

  &[lang="ja"] {
    font-family: var.$font-family;
  }

  &[lang="en"] {
    font-family: var.$font-family-en;
  }
}

body {
  font-size: var.$font-size-base-sp;
  line-height: var.$base-line-height;
  color: var.$color-text;
  overflow-wrap: break-word;

  @include mixin.media-min {
    font-size: var.$font-size-base;

    // 以下フッターとローカルナビを下寄せにするための指定
    display: flex;
    min-height: max(100vh, 788px);
    flex-direction: column;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
dl,
dd,
ul,
ol,
td,
th,
figure,
fieldset,
button {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

b,
em,
strong {
  font-style: normal;
  font-weight: bold;
}

small {
  font-size: inherit;
}

a {
  text-decoration: none;

  &:not([class]) {
    color: var.$color-text-green;
    text-decoration: underline;

    @include mixin.hover {
      text-decoration: none;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

input,
textarea {
  border-radius: 0;
  font-family: inherit;
  font-size: 1.6rem; // For prevent zoom on iOS Safari
}

input[class] {
  appearance: none;
}

button {
  border: 0;
  touch-action: manipulation;

  &:not(:disabled) {
    cursor: pointer;
  }
}

textarea {
  resize: vertical;
}

[type="submit"],
label {
  cursor: pointer;
}

iframe {
  border: 0;
}

[hidden] {
  display: none !important;
}

:focus:not(:focus-visible) {
  outline: 0;
}

mark {
  background-color: var.$color-green-04;
}
