// ----- Break Point Settings -----
$breakpoint-sp: 768px;
$breakpoint-pc: 769px;

// ----- フォント指定 -----
$font-family: "メイリオ", "Meiryo", "MS Pゴシック", "MS PGothic", sans-serif;
$font-size-base: 1.6rem;

// ----- ベース行間 -----
$base-line-height: 1.5;

// ----- カラーセット -----
$color-text: #333333;
