# Files
Thumbs.db

# Directory
.bundle_modules
.DS_Store/
.sass-cache
.svn/
node_modules
Logs

# backup
*.bak
*.BAK

# public領域
public

# textlintレポートファイル
report-textlint.json

# Dreamweaver
notes_
_compareTemp

# WebStorm
.idea

# VisualStudio Code
.vscode

# 必要に応じて
#*.psd
#*.ai
#*.xd
#*.lzh
#*.7z
#*.tar
#*.gz
#*.bz2
#*.xz
#*.mp4
#*.mp3
#*.doc
#*.docx
#*.xls
#*.xlsx
#*.pdf
#*.ppt
#*.pptx
#*.exe
#*.zip
