<!-- Footer -->
<footer class="str-footer">
<div class="str-footer__inner">

<p class="str-footer-copyright"><small>Copyright © 2023 Hiroyuki Inagaki All Rights Reserved.</small></p>

<!-- /.str-footer__inner--></div>
</footer><!-- /.str-footer -->
<!-- Footer -->

<%- include('/common/svg-icon') -%>