<mml-module>
<mml-title><h2>見出し1</h2><span>.m-hdg-lv1</span></mml-title>
<mml-description>
- 実際はセクション要素よりも外側フル幅のエリアにマークアップされるパーツです
</mml-description>
<mml-snippet>

<div class="m-hdg-lv1">
<h1 class="m-hdg-lv1__title">見出しレベル1</h1>
</div><!-- /.m-hdg-lv1 -->

</mml-snippet>

<mml-snippet>

<div class="m-hdg-lv1 m-hdg-lv1--deep">
<h1 class="m-hdg-lv1__title">見出しレベル1</h1>
</div><!-- /.m-hdg-lv1 -->

</mml-snippet>
</mml-module>

<mml-module>
<mml-title><h2>見出しレベル1</h2><span>.m-hdg-lv1-news</span></mml-title>
<mml-description>
- 実際はセクション要素よりも外側フル幅のエリアにマークアップされるパーツです
</mml-description>
<mml-snippet>

<div class="m-hdg-lv1-news">
<div class="m-hdg-lv1-news__body">
<h1 class="m-hdg-lv1-news__title">見出しレベル1見出しレベル1見出しレベル1</h1>

<ul class="m-hdg-lv1-news__list">
<li class="m-hdg-lv1-news__item m-hdg-lv1-news__item--tags">
<span class="m-hdg-lv1-news__tag m-hdg-lv1-news__tag--green">タグ</span>
<span class="m-hdg-lv1-news__tag m-hdg-lv1-news__tag--white">テーマタグ</span>
</li>
<li class="m-hdg-lv1-news__item m-hdg-lv1-news__item--date"><time datetime="2022-04-13">2022.04.13</time></li>
</ul>
</div><!-- /.m-hdg-lv1-news__body -->
</div><!-- /.m-hdg-lv1-news -->

</mml-snippet>
</mml-module>

<mml-module>
<mml-title><h2>見出し2</h2><span>.m-hdg-lv2</span></mml-title>
<mml-description>
- ステップ番号付き見出しはサブタイトルと併用することができない為注意ください
</mml-description>
<mml-snippet>

<div class="m-hdg-lv2">
<h2 class="m-hdg-lv2__title">見出しレベル2見出しレベル2見出しレベル2</h2>
</div><!-- /.m-hdg-lv2 -->

</mml-snippet>

<mml-snippet>

<div class="m-hdg-lv2">
<h2 class="m-hdg-lv2__title"><a href="__dummy__">リンク見出しレベル2リンク見出しレベル2リンク</a></h2>
</div><!-- /.m-hdg-lv2 -->

</mml-snippet>

<mml-snippet>

<div class="m-hdg-lv2">
<h2 class="m-hdg-lv2__title"><span class="m-hdg-lv2__title-sub">サブタイトルサブタイトル</span>見出しレベル2見出しレベル2見出しレベル2</h2>
</div><!-- /.m-hdg-lv2 -->

</mml-snippet>

<mml-snippet>

<div class="m-hdg-lv2">
<h2 class="m-hdg-lv2__title m-hdg-lv2__title--with-step"><span class="m-hdg-lv2__title-step">1</span>見出しレベル2見出しレベル2見出しレベル2</h2>
</div><!-- /.m-hdg-lv2 -->

</mml-snippet>

<mml-snippet>

<div class="m-hdg-lv2-contact">
<h2 class="m-hdg-lv2-contact__title">お問合せ先</h2>
</div><!-- /.m-hdg-lv2-contact -->

</mml-snippet>
</mml-module>

<mml-module>
<mml-title><h2>見出し3</h2><span>.m-hdg-lv3</span></mml-title>
<mml-description>
- ステップ番号付き見出しはサブタイトルと併用することができない為注意ください
</mml-description>
<mml-snippet>

<div class="m-hdg-lv3">
<h3 class="m-hdg-lv3__title">見出しレベル3見出しレベル3見出しレベル3</h3>
</div><!-- /.m-hdg-lv3 -->

</mml-snippet>

<mml-snippet>

<div class="m-hdg-lv3">
<h3 class="m-hdg-lv3__title"><a href="__dummy__">リンク見出しレベル3リンク見出しレベル3</a></h3>
</div><!-- /.m-hdg-lv3 -->

</mml-snippet>

<mml-snippet>

<div class="m-hdg-lv3">
<h3 class="m-hdg-lv3__title"><span class="m-hdg-lv3__title-sub">サブタイトルサブタイトル</span>見出しレベル3見出しレベル3見出しレベル3</h3>
</div><!-- /.m-hdg-lv3 -->

</mml-snippet>

<mml-snippet>

<div class="m-hdg-lv3">
<h3 class="m-hdg-lv3__title m-hdg-lv3__title--with-step"><span class="m-hdg-lv3__title-step">1</span>見出しレベル3見出しレベル3見出しレベル3</h3>
</div><!-- /.m-hdg-lv3 -->

</mml-snippet>
</mml-module>

<mml-module>
<mml-title><h2>見出し4</h2><span>.m-hdg-lv4</span></mml-title>
<mml-description>
- ステップ番号付き見出しはサブタイトルと併用することができない為注意ください
</mml-description>
<mml-snippet>

<div class="m-hdg-lv4">
<h4 class="m-hdg-lv4__title">見出しレベル4見出しレベル4見出しレベル4</h4>
</div><!-- /.m-hdg-lv4 -->

</mml-snippet>

<mml-snippet>

<div class="m-hdg-lv4">
<h4 class="m-hdg-lv4__title"><a href="__dummy__">リンク見出しレベル4リンク見出しレベル4リンク</a></h4>
</div><!-- /.m-hdg-lv4 -->

</mml-snippet>

<mml-snippet>

<div class="m-hdg-lv4">
<h4 class="m-hdg-lv4__title"><span class="m-hdg-lv4__title-sub">サブタイトルサブタイトル</span>見出しレベル4見出しレベル4見出しレベル4</h4>
</div><!-- /.m-hdg-lv4 -->

</mml-snippet>

<mml-snippet>

<div class="m-hdg-lv4 m-hdg-lv4--with-step">
<h4 class="m-hdg-lv4__title m-hdg-lv4__title--with-step"><span class="m-hdg-lv4__title-step">1</span>見出しレベル4見出しレベル4見出しレベル4</h4>
</div><!-- /.m-hdg-lv4 -->

</mml-snippet>
</mml-module>

<mml-module>
<mml-title><h2>見出し5</h2><span>.m-hdg-lv5</span></mml-title>
<mml-description>
- このクラスに関する説明はありません
</mml-description>
<mml-snippet>

<div class="m-hdg-lv5">
<h5 class="m-hdg-lv5__title">見出しレベル5見出しレベル5見出しレベル5</h5>
</div><!-- /.m-hdg-lv5 -->

</mml-snippet>

<mml-snippet>

<div class="m-hdg-lv5">
<h5 class="m-hdg-lv5__title"><a href="__dummy__">リンク見出しレベル5リンク見出しレベル5</a></h5>
</div><!-- /.m-hdg-lv5 -->

</mml-snippet>
</mml-module>

