<mml-module>
<mml-title><h2>リンクリスト</h2><span>.m-link-list</span></mml-title>
<mml-description>
- 以下のModifierが用意されています
    - `.m-link-list--right` : リストアイテムを右寄せに変更
    - `.m-link-list--center` : リストアイテムを中央寄せに変更
- リストアイテムに以下のModifierが用意されています
    - `.m-link-list__link--anchor` : リンクのビュレット（＞）をアンカービュレットに変更
    - `.m-link-list__link--back` : リンクのビュレット（＞）を戻る用の逆向きビュレットに変更
- リンクのアイコンはアイコンモジュール（`.m-icon`）と組み合わせて反映します
- 英語ページで使用するリンクアイコンの代替テキストは英語を使用してください。（サンプルあり）
</mml-description>
<mml-snippet>

<ul class="m-link-list">
<li class="m-link-list__item"><a href="__dummy__" class="m-link-list__link"><span class="m-link-list__text">リンクリスト 16px/1.6 #333333 リンクリストリンクリストリンクリストリンクリストリンクリストリンクリストリンクリストリンクリストリンクリストリンクリストリンクリストリンクリストリンクリストリンクリストリンクリストリンクリスト</span></a></li>
<li class="m-link-list__item"><a href="__dummy__" class="m-link-list__link"><span class="m-link-list__text">リンクリストリンクリストリンクリストリンクリスト</span></a></li>
<li class="m-link-list__item"><a href="__dummy__" class="m-link-list__link"><span class="m-link-list__text">リンクリストリンクリストリンクリストリンクリスト</span></a></li>
</ul><!-- /.m-link-list -->

</mml-snippet>

<mml-snippet>

<ul class="m-link-list m-link-list--right">
<li class="m-link-list__item"><a href="__dummy__" class="m-link-list__link"><span class="m-link-list__text">リンクリストリンクリストリンクリストリンクリスト</span></a></li>
<li class="m-link-list__item"><a href="__dummy__" class="m-link-list__link"><span class="m-link-list__text">リンクリストリンクリストリンクリストリンクリスト</span></a></li>
<li class="m-link-list__item"><a href="__dummy__" class="m-link-list__link"><span class="m-link-list__text">リンクリストリンクリストリンクリストリンクリスト</span></a></li>
</ul><!-- /.m-link-list -->

</mml-snippet>

<mml-snippet>

<ul class="m-link-list m-link-list--center">
<li class="m-link-list__item"><a href="__dummy__" class="m-link-list__link"><span class="m-link-list__text">リンクリストリンクリストリンクリストリンクリスト</span></a></li>
<li class="m-link-list__item"><a href="__dummy__" class="m-link-list__link"><span class="m-link-list__text">リンクリストリンクリストリンクリストリンクリスト</span></a></li>
<li class="m-link-list__item"><a href="__dummy__" class="m-link-list__link"><span class="m-link-list__text">リンクリストリンクリストリンクリストリンクリスト</span></a></li>
</ul><!-- /.m-link-list -->

</mml-snippet>

<mml-snippet>

<ul class="m-link-list">
<li class="m-link-list__item"><a href="___dummy___" target="_blank" class="m-link-list__link"><span class="m-link-list__text">PDFリンクリスト</span><svg class="m-icon m-icon--pdf" role="img" aria-label="PDFを開く"><use href="#icon-pdf"></use></svg></a></li>
<li class="m-link-list__item"><a href="___dummy___" class="m-link-list__link"><span class="m-link-list__text">Excelリンクリスト</span><svg class="m-icon m-icon--excel" role="img" aria-label="Excelを開く"><use href="#icon-excel"></use></svg></a></li>
<li class="m-link-list__item"><a href="___dummy___" class="m-link-list__link"><span class="m-link-list__text">Wordリンクリスト</span><svg class="m-icon m-icon--word" role="img" aria-label="Wordを開く"><use href="#icon-word"></use></svg></a></li>
<li class="m-link-list__item"><a href="___dummy___" class="m-link-list__link"><span class="m-link-list__text">Zipリンクリスト</span><svg class="m-icon m-icon--zip" role="img" aria-label="Zipを開く"><use href="#icon-zip"></use></svg></a></li>
<li class="m-link-list__item"><a href="___dummy___" target="_blank" class="m-link-list__link"><span class="m-link-list__text">別タブリンクリスト</span><svg class="m-icon m-icon--blank" role="img" aria-label="別ウィンドウで開く"><use href="#icon-blank"></use></svg></a></li>
</ul><!-- /.m-link-list -->

</mml-snippet>

<mml-snippet>

<ul class="m-link-list">
<li class="m-link-list__item"><a href="___dummy___" target="_blank" class="m-link-list__link"><span class="m-link-list__text">PDF link list</span><svg class="m-icon m-icon--pdf" role="img" aria-label="Open PDF"><use href="#icon-pdf"></use></svg></a></li>
<li class="m-link-list__item"><a href="___dummy___" class="m-link-list__link"><span class="m-link-list__text">Excel link list</span><svg class="m-icon m-icon--excel" role="img" aria-label="Open Excel"><use href="#icon-excel"></use></svg></a></li>
<li class="m-link-list__item"><a href="___dummy___" class="m-link-list__link"><span class="m-link-list__text">Word link list</span><svg class="m-icon m-icon--word" role="img" aria-label="Open Word"><use href="#icon-word"></use></svg></a></li>
<li class="m-link-list__item"><a href="___dummy___" class="m-link-list__link"><span class="m-link-list__text">Zip link list</span><svg class="m-icon m-icon--zip" role="img" aria-label="Open zip"><use href="#icon-zip"></use></svg></a></li>
<li class="m-link-list__item"><a href="___dummy___" target="_blank" class="m-link-list__link"><span class="m-link-list__text">New window link list</span><svg class="m-icon m-icon--blank" role="img" aria-label="Open in new window"><use href="#icon-blank"></use></svg></a></li>
</ul><!-- /.m-link-list -->

</mml-snippet>

<mml-snippet>

<ul class="m-link-list">
<li class="m-link-list__item"><a href="___dummy___" class="m-link-list__link m-link-list__link--anchor"><span class="m-link-list__text">ページ内リンク（テキストリンク）</span></a></li>
</ul><!-- /.m-link-list -->

</mml-snippet>

<mml-snippet>

<ul class="m-link-list">
<li class="m-link-list__item"><a href="___dummy___" class="m-link-list__link m-link-list__link--back"><span class="m-link-list__text">戻るリンク</span></a></li>
</ul><!-- /.m-link-list -->

</mml-snippet>

<mml-snippet>

<ul class="m-link-list">
<li class="m-link-list__item"><a href="___dummy___" class="m-link-list__link m-link-list__link"><span class="m-link-list__text">ページネスト</span></a>
<ul class="m-link-list">
<li class="m-link-list__item"><a href="___dummy___" class="m-link-list__link m-link-list__link"><span class="m-link-list__text">ページネスト</span></a></li>
<li class="m-link-list__item"><a href="___dummy___" class="m-link-list__link m-link-list__link"><span class="m-link-list__text">ページネスト</span></a></li>
</ul><!-- /.m-link-list -->
</li>
</ul><!-- /.m-link-list -->

</mml-snippet>
</mml-module>

<mml-module>
<mml-title><h2>リンクリスト（並列）</h2><span>.m-link-list-parallel</span></mml-title>
<mml-description>
- このモジュールはグリッドレイアウトのため、前述のリンクリストと組み合わせることはできません
- 使用用途として以下を想定
    - リンクリストのレベル間を並列・同レベルにしたい場合
- カラム数の指定用に、以下のdata属性値が用意されているので適宜変更します
    - data-col : SP幅時のカラム数 （1 ~ 2）
    - data-col-wide : PC幅時のカラム数 （2 ~ 4）
</mml-description>
<mml-snippet>

<ul class="m-link-list-parallel" data-col="1" data-col-wide="4">
<li class="m-link-list-parallel__item"><a href="__dummy__" class="m-link-list-parallel__link">並列リンクリスト</a></li>
<li class="m-link-list-parallel__item"><a href="__dummy__" class="m-link-list-parallel__link">並列リンクリスト</a></li>
<li class="m-link-list-parallel__item"><a href="__dummy__" class="m-link-list-parallel__link">並列リンクリスト</a></li>
<li class="m-link-list-parallel__item"><a href="__dummy__" class="m-link-list-parallel__link">並列リンクリスト</a></li>
<li class="m-link-list-parallel__item"><a href="__dummy__" class="m-link-list-parallel__link">並列リンクリスト</a></li>
<li class="m-link-list-parallel__item"><a href="__dummy__" class="m-link-list-parallel__link">並列リンクリスト</a></li>
<li class="m-link-list-parallel__item"><a href="__dummy__" class="m-link-list-parallel__link">並列リンクリスト</a></li>
<li class="m-link-list-parallel__item"><a href="__dummy__" class="m-link-list-parallel__link">並列リンクリスト</a></li>
</ul><!-- /.m-link-list-parallel -->

</mml-snippet>
</mml-module>

<mml-module>
<mml-title><h2>ページ内リンクリスト（並列）</h2><span>.m-link-list-flow</span></mml-title>
<mml-description>
- アンカーリンクを指定する際は、`href`属性の接頭辞は`#anc-XXX`に統一してください
- PC幅ではなりゆきレイアウト、SP幅では1カラムとなります
</mml-description>
<mml-snippet>

<ul class="m-link-list-flow">
<li class="m-link-list-flow__item"><a href="__dummy__" class="m-link-list-flow__link"><span class="m-link-list__text">並列リンクリスト</span></a></li>
<li class="m-link-list-flow__item"><a href="__dummy__" class="m-link-list-flow__link"><span class="m-link-list__text">並列リンクリスト</span></a></li>
<li class="m-link-list-flow__item"><a href="__dummy__" class="m-link-list-flow__link"><span class="m-link-list__text">並列リンクリスト並列リンクリスト</span></a></li>
<li class="m-link-list-flow__item"><a href="__dummy__" class="m-link-list-flow__link"><span class="m-link-list__text">並列リンクリスト並列リンクリスト</span></a></li>
<li class="m-link-list-flow__item"><a href="__dummy__" class="m-link-list-flow__link"><span class="m-link-list__text">並列リンクリスト</span></a></li>
<li class="m-link-list-flow__item"><a href="__dummy__" class="m-link-list-flow__link"><span class="m-link-list__text">並列リンクリスト並列リンクリスト</span></a></li>
<li class="m-link-list-flow__item"><a href="__dummy__" class="m-link-list-flow__link"><span class="m-link-list__text">並列リンクリスト</span></a></li>
</ul><!-- /.m-link-list-flow -->

</mml-snippet>
</mml-module>

<mml-module>
<mml-title><h2>汎用リンクパネル</h2><span>.m-link-list-panel</span></mml-title>
<mml-description>
- このモジュールはグリッドレイアウトのため、前述のリンクリストと組み合わせることはできません
- カラム数の指定用に、以下のdata属性値が用意されているので適宜変更します
    - data-col : SP幅時のカラム数 （1 ~ 2）
    - data-col-wide : PC幅時のカラム数 （2 ~ 3）
- リンクのアイコンはアイコンモジュールと組み合わせて反映します
</mml-description>
<mml-snippet>

<ul class="m-link-list-panel" data-col="1" data-col-wide="3">
<li class="m-link-list-panel__item"><a href="__dummy__" class="m-link-list-panel__link">
<dl class="m-link-list-panel__content">
<dt class="m-link-list-panel__title"><span>見出し 20px/1.4</span></dt>
<dd class="m-link-list-panel__text"><p>詳細テキスト 16px/1.6 テキスト</p></dd>
</dl>
</a></li>
<li class="m-link-list-panel__item"><a href="__dummy__" class="m-link-list-panel__link">
<dl class="m-link-list-panel__content">
<dt class="m-link-list-panel__title"><span>見出し 20px/1.4</span></dt>
<dd class="m-link-list-panel__text"><p>詳細テキスト 16px/1.6 テキスト詳細テキスト 16px/1.6 テキスト</p></dd>
</dl>
</a></li>
<li class="m-link-list-panel__item"><a href="__dummy__" class="m-link-list-panel__link">
<dl class="m-link-list-panel__content">
<dt class="m-link-list-panel__title"><span>見出し 20px/1.4</span></dt>
<dd class="m-link-list-panel__text"><p>詳細テキスト 16px/1.6 テキスト詳細テキスト 16px/1.6 テキスト</p></dd>
</dl>
</a></li>
<li class="m-link-list-panel__item"><a href="__dummy__" class="m-link-list-panel__link">
<dl class="m-link-list-panel__content">
<dt class="m-link-list-panel__title"><span>見出し 20px/1.4</span><svg class="m-icon m-icon--excel" role="img" aria-label="Excelを開く"><use href="#icon-excel"></use></svg></dt>
<dd class="m-link-list-panel__text"><p>詳細テキスト 16px/1.6 テキスト詳細テキスト 16px/1.6 テキスト詳細テキスト 16px/1.6 テキスト詳細テキスト 16px/1.6 テキスト</p></dd>
</dl>
</a></li>
<li class="m-link-list-panel__item"><a href="__dummy__" class="m-link-list-panel__link" target="_blank">
<dl class="m-link-list-panel__content">
<dt class="m-link-list-panel__title"><span>見出し 20px/1.4</span><svg class="m-icon m-icon--pdf" role="img" aria-label="PDFを開く"><use href="#icon-pdf"></use></svg></dt>
<dd class="m-link-list-panel__text"><p>詳細テキスト 16px/1.6 テキスト詳細テキスト 16px/1.6 テキスト</p></dd>
</dl>
</a></li>
<li class="m-link-list-panel__item"><a href="__dummy__" class="m-link-list-panel__link">
<dl class="m-link-list-panel__content">
<dt class="m-link-list-panel__title"><span>見出し 20px/1.4</span><svg class="m-icon m-icon--word" role="img" aria-label="Wordを開く"><use href="#icon-word"></use></svg></dt>
<dd class="m-link-list-panel__text"><p>詳細テキスト 16px/1.6 テキスト詳細テキスト 16px/1.6 テキスト</p></dd>
</dl>
</a></li>
</ul><!-- /.m-link-list-panel -->

</mml-snippet>

<mml-snippet>

<ul class="m-link-list-panel" data-col="1" data-col-wide="2">
<li class="m-link-list-panel__item"><a href="__dummy__" class="m-link-list-panel__link">
<dl class="m-link-list-panel__content">
<dt class="m-link-list-panel__title"><span>見出し 20px/1.4</span></dt>
<dd class="m-link-list-panel__text"><p>詳細テキスト 16px/1.6 テキスト詳細テキスト 16px/1.6 テキスト</p></dd>
</dl>
</a></li>
<li class="m-link-list-panel__item"><a href="__dummy__" class="m-link-list-panel__link">
<dl class="m-link-list-panel__content">
<dt class="m-link-list-panel__title"><span>見出し 20px/1.4</span></dt>
<dd class="m-link-list-panel__text"><p>詳細テキスト 16px/1.6 テキスト詳細テキスト 16px/1.6 テキスト</p></dd>
</dl>
</a></li>
<li class="m-link-list-panel__item"><a href="__dummy__" class="m-link-list-panel__link">
<dl class="m-link-list-panel__content">
<dt class="m-link-list-panel__title"><span>見出し 20px/1.4</span></dt>
<dd class="m-link-list-panel__text"><p>詳細テキスト 16px/1.6 テキスト詳細テキスト 16px/1.6 テキスト詳細テキスト 16px/1.6 テキスト詳細テキスト 16px/1.6 テキスト</p></dd>
</dl>
</a></li>
<li class="m-link-list-panel__item"><a href="__dummy__" class="m-link-list-panel__link">
<dl class="m-link-list-panel__content">
<dt class="m-link-list-panel__title"><span>見出し 20px/1.4</span></dt>
<dd class="m-link-list-panel__text"><p>詳細テキスト 16px/1.6 テキスト詳細テキスト 16px/1.6 テキスト</p></dd>
</dl>
</a></li>
</ul><!-- /.m-link-list-panel -->

</mml-snippet>
</mml-module>