<mml-module>
<mml-title><h2>モジュール名</h2><span>MLC_MODULE_SELECTOR</span></mml-title>
<mml-description>
- このクラスに関する説明はありません
</mml-description>
<mml-snippet>

// HTMLコードスニペットを記述します

</mml-snippet>
</mml-module>
