<mml-module>
<mml-title><h2>通常テキスト（本文テキスト）</h2><span>.m-text</span></mml-title>
<mml-description>
- 通常の段落テキストモジュールです
    - 子要素で、`a`要素や強調目的の`em`要素・`b`要素・`strong`要素をマークアップした際にスタイルが適用されます
</mml-description>
<mml-snippet>

<p class="m-text">本文テキスト本文テキスト本文テキスト<a href="__dummy__">文中テキストリンク</a>本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト<em>強調テキスト強調テキスト</em>本文テキスト本文テキスト<strong>警告テキスト警告テキスト</strong>本文テキスト</p>

</mml-snippet>

<mml-snippet>

<p class="m-text"><a href="__dummy__" target="_blank">文中別窓リンク<svg class="m-icon m-icon--blank" role="img" aria-label="別タブを開く"><use href="#icon-blank"></use></svg></a></p>

</mml-snippet>

<mml-snippet>

<p class="m-text"><a href="__dummy__" target="_blank">文中PDFリンク<svg class="m-icon m-icon--pdf" role="img" aria-label="PDFを開く"><use href="#icon-pdf"></use></svg></a></p>

</mml-snippet>

<mml-snippet>

<p class="m-text"><a href="__dummy__">文中Excelリンク<svg class="m-icon m-icon--excel" role="img" aria-label="Excelを開く"><use href="#icon-excel"></use></svg></a></p>

</mml-snippet>

<mml-snippet>

<p class="m-text"><a href="__dummy__">文中Wordリンク<svg class="m-icon m-icon--word" role="img" aria-label="Wordを開く"><use href="#icon-word"></use></svg></a></p>

</mml-snippet>

<mml-snippet>

<p class="m-text">ダミーテキストダミーテキストダミーテキストダミー</p>

<p class="m-text">ダミーテキストダミーテキストダミーテキストダミー</p>

</mml-snippet>
</mml-module>

<mml-module>
<mml-title><h2>リード文</h2><span>.m-text-lead</span></mml-title>
<mml-description>
- このクラスに関する説明はありません
</mml-description>
<mml-snippet>

<p class="m-text-lead">リード文テキストリード文テキストリード文テキストリード文テキスト</p>

<p class="m-text">ダミーテキストダミーテキストダミーテキストダミー</p>

</mml-snippet>
</mml-module>
