<mml-module>
<mml-title><h2>トグル</h2><span>.m-toggle</span></mml-title>
<mml-description>
- `.m-toggle`に以下の`data`属性を付与することでアコーディオン開閉に切り替えます※
    - `data-toggle`: 'accordion' を指定でアコーディオン開閉モード
    - ※ 展開時の他のボタンを閉じます
- トグル展開対象のボタンとなる要素に`.js-toggle-trigger`を付与します
- トグル展開対象のコンテンツとなる要素に`.js-toggle-content`を付与します
- `.js-toggle-wrapper`は必ずしもつける必要はないです
    - トグル＋コンテンツのラッパー要素に対しても開閉ステータスに応じてスタイリングしなければならない場合にそのラッパー要素にこのクラスを付与してください
- `.m-toggle--grid`を付与することでSP幅時1カラム/PC幅時2カラムのトグルになります
</mml-description>
<mml-snippet>

<div class="m-toggle js-toggle">
<div class="m-toggle__item js-toggle-wrapper">
<h2 class="m-toggle__title"><button type="button" class="m-toggle__btn js-toggle-trigger"><span>見出しテキスト（個別開閉パターン）見出しレベルは適宜変更</span></button></h2>
<div class="m-toggle__content js-toggle-content">
<div class="m-toggle__inner">
<p class="m-text">ここにコンテンツが入る</p>
</div><!-- /.m-toggle__inner -->
</div><!-- /.m-toggle__content -->
</div><!-- /.m-toggle__item -->

<div class="m-toggle__item js-toggle-wrapper">
<h2 class="m-toggle__title"><button type="button" class="m-toggle__btn js-toggle-trigger"><span>見出しテキスト（個別開閉パターン）見出しレベルは適宜変更</span></button></h2>
<div class="m-toggle__content js-toggle-content">
<div class="m-toggle__inner">
<p class="m-text">ここにコンテンツが入る</p>
</div><!-- /.m-toggle__inner -->
</div><!-- /.m-toggle__content -->
</div><!-- /.m-toggle__item -->
</div><!-- /.m-toggle -->

</mml-snippet>

<mml-snippet>

<div class="m-toggle js-toggle" data-toggle="accordion">
<div class="m-toggle__item js-toggle-wrapper">
<h2 class="m-toggle__title"><button type="button" class="m-toggle__btn js-toggle-trigger"><span>見出しテキスト（アコーディオン開閉パターン）見出しレベルは適宜変更</span></button></h2>
<div class="m-toggle__content js-toggle-content">
<div class="m-toggle__inner">
<p class="m-text">ここにコンテンツが入る</p>
</div><!-- /.m-toggle__inner -->
</div><!-- /.m-toggle__content -->
</div><!-- /.m-toggle__item -->

<div class="m-toggle__item js-toggle-wrapper">
<h2 class="m-toggle__title"><button type="button" class="m-toggle__btn js-toggle-trigger"><span>見出しテキスト（アコーディオン開閉パターン）見出しレベルは適宜変更</span></button></h2>
<div class="m-toggle__content js-toggle-content">
<div class="m-toggle__inner">
<p class="m-text">ここにコンテンツが入る</p>
</div><!-- /.m-toggle__inner -->
</div><!-- /.m-toggle__content -->
</div><!-- /.m-toggle__item -->
</div><!-- /.m-toggle -->

</mml-snippet>

<mml-snippet>

<div class="m-toggle m-toggle--small js-toggle">
<div class="m-toggle__item js-toggle-wrapper">
<h2 class="m-toggle__title"><button type="button" class="m-toggle__btn js-toggle-trigger"><span>見出しテキスト（個別開閉パターン、小さいスタイルパターン）見出しレベルは適宜変更</span></button></h2>
<div class="m-toggle__content js-toggle-content">
<div class="m-toggle__inner">
<p class="m-text">ここにコンテンツが入る</p>
</div><!-- /.m-toggle__inner -->
</div><!-- /.m-toggle__content -->
</div><!-- /.m-toggle__item -->

<div class="m-toggle__item js-toggle-wrapper">
<h2 class="m-toggle__title"><button type="button" class="m-toggle__btn js-toggle-trigger"><span>見出しテキスト（個別開閉パターン、小さいスタイルパターン）見出しレベルは適宜変更</span></button></h2>
<div class="m-toggle__content js-toggle-content">
<div class="m-toggle__inner">
<p class="m-text">ここにコンテンツが入る</p>
</div><!-- /.m-toggle__inner -->
</div><!-- /.m-toggle__content -->
</div><!-- /.m-toggle__item -->
</div><!-- /.m-toggle -->

</mml-snippet>

<mml-snippet>

<div class="m-toggle m-toggle--grid js-toggle">
<div class="m-toggle--grid__col">
<div class="m-toggle__item js-toggle-wrapper">
<h2 class="m-toggle__title"><button type="button" class="m-toggle__btn js-toggle-trigger"><span>見出しテキスト（個別開閉パターン）見出しレベルは適宜変更</span></button></h2>
<div class="m-toggle__content js-toggle-content">
<div class="m-toggle__inner">
<p class="m-text">ここにコンテンツが入る</p>
</div><!-- /.m-toggle__inner -->
</div><!-- /.m-toggle__content -->
</div><!-- /.m-toggle__item -->
</div><!-- /.m-toggle--grid__col -->

<div class="m-toggle--grid__col">
<div class="m-toggle__item js-toggle-wrapper">
<h2 class="m-toggle__title"><button type="button" class="m-toggle__btn js-toggle-trigger"><span>見出しテキスト（個別開閉パターン）見出しレベルは適宜変更</span></button></h2>
<div class="m-toggle__content js-toggle-content">
<div class="m-toggle__inner">
<p class="m-text">ここにコンテンツが入る</p>
</div><!-- /.m-toggle__inner -->
</div><!-- /.m-toggle__content -->
</div><!-- /.m-toggle__item -->
</div><!-- /.m-toggle--grid__col -->
</div><!-- /.m-toggle -->

</mml-snippet>
</mml-module>

<mml-module>
<mml-title><h2>モーダル</h2><span>.m-dialog</span></mml-title>
<mml-description>
- 展開元となるトリガーの要素には、`a`要素かつ`href`属性値に展開先Dialog要素の`id`属性値をアンカーで設定します
    - 正しくモーダルが処理された後、トリガー要素には`is-modal-trigger`ステータスクラスが動的に付与されます
- Dialog要素は以下のような構成でマークアップする仕様です（この構造は必ず守る必要があります）
    - **dialog.js-dialog > div.js-dialog-body**
    - Dialog要素には`js-dialog`クラスを
    - Dialog要素直下のインナー要素には`js-dialog-body`クラスを付与します
- **モーダル本体は`Dialog`要素以外の要素でマークアップしないでください**
</mml-description>
<mml-snippet>

<p class="m-text"><a href="#dialog-1">モーダルを展開する</a></p>

<p class="m-text"><a href="#dialog-1">モーダルを展開する</a></p>

<dialog id="dialog-1" class="m-dialog js-dialog">
<div class="m-dialog__body js-dialog-body">
<p class="m-text">ここにモーダルのコンテンツが入る</p>
</div><!-- /.m-dialog__body -->
</dialog><!-- /.m-dialog -->

</mml-snippet>

<mml-snippet>

<p class="m-text"><a href="#dialog-2">モーダルを展開する（コンテンツ量が多いパターン）</a></p>

<dialog id="dialog-2" class="m-dialog js-dialog">
<div class="m-dialog__body js-dialog-body">
<p class="m-text">ここにモーダルのコンテンツが入る</p>

<p class="m-text">ここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入るここにモーダルのコンテンツが入る</p>
</div><!-- /.m-dialog__body -->
</dialog><!-- /.m-dialog -->

</mml-snippet>
</mml-module>

<mml-module>
<mml-title><h2>タブ</h2><span>m-tab</span></mml-title>
<mml-description>
- カラム数の指定は`gird`で設定されていますので、親のタグに以下のように設定お願い致します。
    - `data-col` : SP時のカラム数（1 ~ 2）
    - `data-col-wide` : PC時のカラム数（2 ~ 4）
- JS制御のために以下のクラスを付与します
    - `.js-tab`: タブのルート要素
    - `.js-tab-list` : タブボタンの親要素
    - `.js-tab-trigger` : タブの展開元となるa要素
        - 展開しておく要素に`is-current`クラスを付与してください。
    - `.js-tab-panel` : タブの展開コンテンツ要素
        - 一意となるid属性値を付与してください
</mml-description>

<mml-snippet>
<div class="m-tab js-tab">
<div class="m-tab__list js-tab-list" data-col="2" data-col-wide="2">
<a href="#tab-1-1" class="m-tab__tab is-current js-tab-trigger"><span class="m-tab__bg">タブモジュール - 2カラム</span></a>
<a href="#tab-1-2" class="m-tab__tab js-tab-trigger"><span class="m-tab__bg">タブモジュール - 2カラム</span></a>
</div><!-- /.m-tab__list -->

<div id="tab-1-1" class="m-tab__panel js-tab-panel">
<p class="m-text">本文テキスト16px/1.6 #333333 サンプルサイトは「社債、、株式等の振替に関する法律」に基づく振替機関として金融庁、法務省の指定を受け、上場株式のほか、国債を除く公共債、社債、短期社債（いわゆる電子CP）、投資信託など、資本市場における多岐にわたる種類の電子化されたサンプルの振替等を行う、総合的なサンプル決済インフラ業務を行っている我が国唯一の組織です。</p>
</div><!-- /.m-tab__panel -->

<div id="tab-1-2" class="m-tab__panel js-tab-panel">
ここにタブコンテンツが入る 2
</div><!-- /.m-tab__panel -->

</div><!-- /.m-tab -->


</mml-snippet>

<mml-snippet>
<div class="m-tab js-tab">
<div class="m-tab__list js-tab-list" data-col="2" data-col-wide="3">
<a href="#tab-2-1" class="m-tab__tab is-current js-tab-trigger"><span class="m-tab__bg">タブモジュール - 3カラム</span></a>
<a href="#tab-2-2" class="m-tab__tab js-tab-trigger"><span class="m-tab__bg">タブモジュール - 3カラム</span></a>
<a href="#tab-2-3" class="m-tab__tab js-tab-trigger"><span class="m-tab__bg">タブモジュール - 3カラム</span></a>
</div><!-- /.m-tab__list -->

<div id="tab-2-1" class="m-tab__panel js-tab-panel">
<p class="m-text">本文テキスト16px/1.6 #333333 サンプルサイトは「社債、、株式等の振替に関する法律」に基づく振替機関として金融庁、法務省の指定を受け、上場株式のほか、国債を除く公共債、社債、短期社債（いわゆる電子CP）、投資信託など、資本市場における多岐にわたる種類の電子化されたサンプルの振替等を行う、総合的なサンプル決済インフラ業務を行っている我が国唯一の組織です。</p>
</div><!-- /.m-tab__panel -->

<div id="tab-2-2" class="m-tab__panel js-tab-panel">
ここにタブコンテンツが入る 2
</div><!-- /.m-tab__panel -->

<div id="tab-2-3" class="m-tab__panel js-tab-panel">
ここにタブコンテンツが入る 3
</div><!-- /.m-tab__panel -->
</div><!-- /.m-tab -->
</mml-snippet>

<mml-snippet>
<div class="m-tab js-tab">
<div class="m-tab__list js-tab-list" data-col="2" data-col-wide="4">
<a href="#tab-3-1" class="m-tab__tab is-current js-tab-trigger"><span class="m-tab__bg">タブモジュール - 4カラム</span></a>
<a href="#tab-3-2" class="m-tab__tab js-tab-trigger"><span class="m-tab__bg">タブモジュール - 4カラム</span></a>
<a href="#tab-3-3" class="m-tab__tab js-tab-trigger"><span class="m-tab__bg">タブモジュール - 4カラム</span></a>
<a href="#tab-3-4" class="m-tab__tab js-tab-trigger"><span class="m-tab__bg">タブモジュール - 4カラム</span></a>
<a href="#tab-3-5" class="m-tab__tab js-tab-trigger"><span class="m-tab__bg">タブモジュール - 4カラム</span></a>
<a href="#tab-3-6" class="m-tab__tab js-tab-trigger"><span class="m-tab__bg">タブモジュール - 4カラム</span></a>
</div><!-- /.m-tab__list -->

<div id="tab-3-1" class="m-tab__panel js-tab-panel">
<p class="m-text">本文テキスト16px/1.6 #333333 サンプルサイトは「社債、、株式等の振替に関する法律」に基づく振替機関として金融庁、法務省の指定を受け、上場株式のほか、国債を除く公共債、社債、短期社債（いわゆる電子CP）、投資信託など、資本市場における多岐にわたる種類の電子化されたサンプルの振替等を行う、総合的なサンプル決済インフラ業務を行っている我が国唯一の組織です。</p>
</div><!-- /.m-tab__panel -->

<div id="tab-3-2" class="m-tab__panel js-tab-panel">
ここにタブコンテンツが入る 2
</div><!-- /.m-tab__panel -->

<div id="tab-3-3" class="m-tab__panel js-tab-panel">
ここにタブコンテンツが入る 3
</div><!-- /.m-tab__panel -->

<div id="tab-3-4" class="m-tab__panel js-tab-panel">
ここにタブコンテンツが入る 4
</div><!-- /.m-tab__panel -->

<div id="tab-3-5" class="m-tab__panel js-tab-panel">
ここにタブコンテンツが入る 5
</div><!-- /.m-tab__panel -->

<div id="tab-3-6" class="m-tab__panel js-tab-panel">
ここにタブコンテンツが入る 6
</div><!-- /.m-tab__panel -->
</div><!-- /.m-tab -->
</mml-snippet>

<mml-snippet>
<div class="m-tab js-tab">
<div class="m-tab__list js-tab-list" data-col="2" data-col-wide="5">
<a href="#tab-4-1" class="m-tab__tab is-current js-tab-trigger"><span class="m-tab__bg">タブモジュール - 5カラム</span></a>
<a href="#tab-4-2" class="m-tab__tab js-tab-trigger"><span class="m-tab__bg">タブモジュール - 5カラム</span></a>
<a href="#tab-4-3" class="m-tab__tab js-tab-trigger"><span class="m-tab__bg">タブモジュール - 5カラム</span></a>
<a href="#tab-4-4" class="m-tab__tab js-tab-trigger"><span class="m-tab__bg">タブモジュール - 5カラム</span></a>
<a href="#tab-4-5" class="m-tab__tab js-tab-trigger"><span class="m-tab__bg">タブモジュール - 5カラム</span></a>
<a href="#tab-4-6" class="m-tab__tab js-tab-trigger"><span class="m-tab__bg">タブモジュール - 5カラム</span></a>
<a href="#tab-4-7" class="m-tab__tab js-tab-trigger"><span class="m-tab__bg">タブモジュール - 5カラム</span></a>
</div><!-- /.m-tab__list -->

<div id="tab-4-1" class="m-tab__panel js-tab-panel">
<p class="m-text">本文テキスト16px/1.6 #333333 サンプルサイトは「社債、、株式等の振替に関する法律」に基づく振替機関として金融庁、法務省の指定を受け、上場株式のほか、国債を除く公共債、社債、短期社債（いわゆる電子CP）、投資信託など、資本市場における多岐にわたる種類の電子化されたサンプルの振替等を行う、総合的なサンプル決済インフラ業務を行っている我が国唯一の組織です。</p>
</div><!-- /.m-tab__panel -->

<div id="tab-4-2" class="m-tab__panel js-tab-panel">
ここにタブコンテンツが入る 2
</div><!-- /.m-tab__panel -->

<div id="tab-4-3" class="m-tab__panel js-tab-panel">
ここにタブコンテンツが入る 3
</div><!-- /.m-tab__panel -->

<div id="tab-4-4" class="m-tab__panel js-tab-panel">
ここにタブコンテンツが入る 4
</div><!-- /.m-tab__panel -->

<div id="tab-4-5" class="m-tab__panel js-tab-panel">
ここにタブコンテンツが入る 5
</div><!-- /.m-tab__panel -->

<div id="tab-4-6" class="m-tab__panel js-tab-panel">
ここにタブコンテンツが入る 6
</div><!-- /.m-tab__panel -->

<div id="tab-4-7" class="m-tab__panel js-tab-panel">
ここにタブコンテンツが入る 7
</div><!-- /.m-tab__panel -->
</div><!-- /.m-tab -->
</mml-snippet>

</mml-module>

<mml-module>
<mml-title><h2>高さ揃え</h2><span>.js-mh-target</span></mml-title>
<mml-description>
- 高さ揃えを実行したい要素に、`js-mh-target`を付与します
- 通常はこのクラスを付与した要素に対して一律の高さ揃えが実行されるため、グループごとに高さ揃えの要素を分ける場合は
以下のdata属性を付与して任意のグループ名（一意のもの）を付与してください
    - `data-mh-group`: 任意のグループ名（一意のもの）
        - `data-mh-group`が`default`になっているものは、JS処理から動的に付与されているものです。静的に付与は行いません。
- ※ 高さ揃えの処理は重いため、なるべく使用を控えてください
    - ※ CSSで高さを揃えられる場合は使用を控えるようにしてください
</mml-description>
<mml-snippet>

<div class="m-lyt-grid" data-col="1" data-col-wide="3">
<div class="m-lyt-grid__col">
<mml-dummy class="js-mh-target" data-mh-group="dummy-title">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</mml-dummy>
</div><!-- /.m-lyt-grid__col -->

<div class="m-lyt-grid__col">
<mml-dummy class="js-mh-target" data-mh-group="dummy-title">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</mml-dummy>
</div><!-- /.m-lyt-grid__col -->

<div class="m-lyt-grid__col">
<mml-dummy class="js-mh-target" data-mh-group="dummy-title">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミ</mml-dummy>
</div><!-- /.m-lyt-grid__col -->

<div class="m-lyt-grid__col">
<mml-dummy class="js-mh-target" data-mh-group="dummy-title">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</mml-dummy>
</div><!-- /.m-lyt-grid__col -->

<div class="m-lyt-grid__col">
<mml-dummy class="js-mh-target" data-mh-group="dummy-title">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</mml-dummy>
</div><!-- /.m-lyt-grid__col -->

<div class="m-lyt-grid__col">
<mml-dummy class="js-mh-target" data-mh-group="dummy-title">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</mml-dummy>
</div><!-- /.m-lyt-grid__col -->
</div><!-- /..m-lyt-grid -->

</mml-snippet>

<mml-snippet>

<div class="m-lyt-grid" data-col="1" data-col-wide="3">
<div class="m-lyt-grid__col">
<mml-dummy class="js-mh-target">（グループ指定なし一律高さ揃え）ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</mml-dummy>
</div><!-- /.m-lyt-grid__col -->

<div class="m-lyt-grid__col">
<mml-dummy class="js-mh-target">（グループ指定なし一律高さ揃え）ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</mml-dummy>
</div><!-- /.m-lyt-grid__col -->

<div class="m-lyt-grid__col">
<mml-dummy class="js-mh-target">（グループ指定なし一律高さ揃え）ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミ</mml-dummy>
</div><!-- /.m-lyt-grid__col -->

<div class="m-lyt-grid__col">
<mml-dummy class="js-mh-target">（グループ指定なし一律高さ揃え）ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</mml-dummy>
</div><!-- /.m-lyt-grid__col -->

<div class="m-lyt-grid__col">
<mml-dummy class="js-mh-target">（グループ指定なし一律高さ揃え）ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</mml-dummy>
</div><!-- /.m-lyt-grid__col -->

<div class="m-lyt-grid__col">
<mml-dummy class="js-mh-target">（グループ指定なし一律高さ揃え）ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</mml-dummy>
</div><!-- /.m-lyt-grid__col -->
</div><!-- /..m-lyt-grid -->

</mml-snippet>

</mml-module>

