body {
  font-family: 'Meiryo','Hiragino Kaku Gothic Pro';
  padding: 0 16px;
}

.container {
  max-width: 890px;
  margin: 20px auto;
}

label, input, textarea {
  display: block;
  line-height: 1.5;
}

#output {
  margin-top: 20px;
}

.input-layout-wrap {
  margin-top: 40px;
}

.input-layout {
  margin-top: 20px;
}

.input-layout__label {
  min-width: 150px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-layout__select {
  font-size: 14px;
  padding: 5px;
}

.input-layout__input {
  width: 100%;
  font-size: 14px;
  padding: 5px;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  padding: 0.5em 2em;
  color: #444444;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #dddddd;
  border-radius: 10px;
  transition: background-color .4s;
}

.btn::after {
  content: '';
  width: 5px;
  height: 5px;
  margin-left: 5px;
  border-top: 3px solid currentColor;
  border-right: 3px solid currentColor;
  transform: rotate(45deg);
}

.btn:hover {
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  background-color: #dddddd;
}

.btn:hover::after {
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
}

#errorDiv {
  color: red;
  text-align: center;
}

.hidden {
  display: none;
}

.required-label::after {
  content: "必須";
  font-size: 12px;
  color: #ffffff;
  margin-left: 2px;
  padding: 2px 5px;
  background-color: red;
  border-radius: 5px;
  vertical-align: middle;
}

.input-layout__checkboxes,
.input-layout__checkboxes label {
  display: flex;
}

.input-layout__checkboxes {
  gap: 20px;
}

.input-layout__checkboxes span {
  color: #dddddd;
  font-weight: bold;
}

input[type="checkbox"]:checked ~ span,
.input-layout__checkboxes label:hover span {
  color: #444444;
}