---
layout: layouts/default
pageTitle: 要素のベースルール確認用
pageDescription: 要素のベースルールスタイルの確認ページです
---

<main style="max-width: 1240px; margin: 0 auto;">

<aside>
<p>※ <strong>要素に当たっているベースルールの見た目を確認するため</strong>の簡易的な要素確認ページです</p>
<p>※ 全ての要素は網羅されてないので注意してください</p>
</aside>

<hr>

<!-- 見出し -->

<h1>見出しレベル1見出しレベル1</h1>
<h2>見出しレベル2見出しレベル2</h2>
<h3>見出しレベル3見出しレベル3</h3>
<h4>見出しレベル4見出しレベル4</h4>
<h5>見出しレベル5見出しレベル5</h5>
<h6>見出しレベル6見出しレベル6</h6>

<hr>

<!-- テキスト -->

<p>段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト</p>

<p>段落テキスト<sup>上付き文字</sup></p>

<p>段落テキスト<sub>下付き文字</sub></p>

<p><b>注意付けテキスト（b）</b></p>

<p><em>強調テキスト（em）</em></p>

<p><strong>重要なテキスト（strong）</strong></p>

<p><small>免責事項、警告、法的制約、注釈、著作権テキスト（small）</small></p>

<p><mark>テキストハイライト</mark>テキスト</p>

<blockquote>引用ブロック引用ブロック引用ブロック</blockquote>

<code>コードブロック</code>

<pre>
// pre要素のサンプル
const hello = 'Hello World !';

console.log(hello);
</pre>

<hr>

<!-- リンク -->

<p><a href="__dummy__">テキストリンク</a></p>
<p><a href="#anchor-sample">ページ内リンク</a></p>
<p><a href="__dummy__" target="_blank">テキストリンク（target="_blank"）</a></p>

<hr>

<!-- リスト -->

<ul>
<li>通常リスト通常リスト通常リスト通常リスト通常リスト通常リスト</li>
<li>通常リスト通常リスト通常リスト通常リスト通常リスト通常リスト</li>
<li>通常リスト通常リスト通常リスト通常リスト通常リスト通常リスト</li>
<li>通常リスト通常リスト通常リスト通常リスト通常リスト通常リスト</li>
<li>通常リスト通常リスト通常リスト通常リスト通常リスト通常リスト</li>
<li>通常リスト通常リスト通常リスト通常リスト通常リスト通常リスト</li>
</ul>

<ul>
<li>順序リスト順序リスト順序リスト順序リスト順序リスト順序リスト</li>
<li>順序リスト順序リスト順序リスト順序リスト順序リスト順序リスト</li>
<li>順序リスト順序リスト順序リスト順序リスト順序リスト順序リスト</li>
<li>順序リスト順序リスト順序リスト順序リスト順序リスト順序リスト</li>
<li>順序リスト順序リスト順序リスト順序リスト順序リスト順序リスト</li>
<li>順序リスト順序リスト順序リスト順序リスト順序リスト順序リスト</li>
</ul>

<dl>
<dt>定義リストタイトル</dt>
<dd>定義リストテキスト</dd>
<dt>定義リストタイトル</dt>
<dd>定義リストテキスト</dd>
<dt>定義リストタイトル</dt>
<dd>定義リストテキスト</dd>
</dl>

<hr>

<!-- テーブル -->

<table>
<caption>テーブルキャプションテーブルキャプション</caption>
<thead>
<tr>
<th>thead見出し</th>
<th>thead見出し</th>
<th>thead見出し</th>
</tr>
</thead>
<tbody>
<tr>
<th>tbody見出し</th>
<th>tbody見出し</th>
<th>tbody見出し</th>
</tr>
<tr>
<td>表テキスト表テキスト表テキスト</td>
<td>表テキスト表テキスト表テキスト</td>
<td>表テキスト表テキスト表テキスト</td>
</tr>
<tr>
<td colspan="2">表テキスト表テキスト表テキスト</td>
<td>表テキスト表テキスト表テキスト</td>
</tr>
<tr>
<td rowspan="2">表テキスト表テキスト表テキスト</td>
<td>表テキスト表テキスト表テキスト</td>
<td>表テキスト表テキスト表テキスト</td>
</tr>
<tr>
<td>表テキスト表テキスト表テキスト</td>
<td>表テキスト表テキスト表テキスト</td>
</tr>
<tr>
<td>表テキスト表テキスト表テキスト</td>
<td>表テキスト表テキスト表テキスト</td>
<td>表テキスト表テキスト表テキスト</td>
</tr>
</tbody>
<tfoot>
<tr>
<td>tfootテキストtfootテキスト</td>
<td>tfootテキストtfootテキスト</td>
<td>tfootテキストtfootテキスト</td>
</tr>
</tfoot>
</table>

<hr>

<!-- 画像 -->

<p><img src="https://dummyimage.com/600x400/333333/ffffff.jpg&text=sample+image" width="600" height="400" alt=""></p>

<figure>
<img src="https://dummyimage.com/600x400/333333/ffffff.jpg&text=sample+image+figure要素" width="600" height="400" alt="">
<figcaption>figure要素キャプション</figcaption>
</figure>

<p>
<picture>
<source srcset="https://dummyimage.com/600x400/333333/ffffff.jpg&text=sample+image+picture要素+(PC)" width="600" height="400" media="(min-width: 768px)">
<img src="https://dummyimage.com/750x600/2baeff/ffffff.jpg&text=sample+image+picture要素+(SP)" width="750" height="600" alt="">
</picture>
</p>

<hr>

<!-- SVG -->

<div style="max-width: 100px">
<svg viewBox="0 0 241 241">
<circle cx="120.5" cy="120.5" r="120" style="fill: #6ec8e5;stroke: #3876bc;stroke-miterlimit: 10"/>
</svg>
</div>

<hr>

<!-- 折り畳み -->

<details>
<summary>折り畳みコンテンツ</summary>

<p>コンテンツの中身コンテンツの中身コンテンツの中身コンテンツの中身コンテンツの中身コンテンツの中身</p>
<p>コンテンツの中身コンテンツの中身コンテンツの中身コンテンツの中身コンテンツの中身コンテンツの中身</p>
</details>

<hr>

<!-- ボタン -->

<div id="anchor-sample">
<button type="button">通常ボタン通常ボタン通常ボタン（button[type="button"]）</button>
<button type="submit">送信ボタン（button[type="submit"]）</button>
</div>

<hr>

<!-- iframe -->

<iframe src="./index.html" width="640" height="360" loading="lazy"></iframe>

<hr>

<!-- フォームパーツ -->

<div>
<input type="button" value="input要素（ボタン）">
</div>

<div>
<input type="submit" value="input要素（送信ボタン）">
</div>

<div>
<label>チェックボックス1：<input type="checkbox" name="input-check" value="hoge" checked></label>
<label>チェックボックス2：<input type="checkbox" name="input-check" value="piyo"></label>
<label>チェックボックス3：<input type="checkbox" name="input-check" value="fuga"></label>
</div>

<div>
<label>ラジオボタン1：<input type="radio" name="input-radio" value="piyo" checked></label>
<label>ラジオボタン2：<input type="radio" name="input-radio" value="hoge"></label>
<label>ラジオボタン3：<input type="radio" name="input-radio" value="fuga"></label>
</div>

<div>
セレクトボックス：
<select name="select">
<option value="選択肢1">選択肢1</option>
<option value="選択肢2">選択肢2</option>
<option value="選択肢3">選択肢3</option>
<option value="選択肢4">選択肢4</option>
<option value="選択肢5">選択肢5</option>
<option value="選択肢6">選択肢6</option>
<option value="選択肢7">選択肢7</option>
<option value="選択肢8">選択肢8</option>
<option value="選択肢9">選択肢9</option>
<option value="選択肢10">選択肢10</option>
</select>
</div>

<div>
<label>入力フィールド（text）：<input type="text" value=""></label>
</div>

<div>
<label>入力フィールド（number）：<input type="number" value=""></label>
</div>

<div>
<label>入力フィールド（tel）：<input type="tel" value=""></label>
</div>

<div>
<label>入力フィールド（email）：<input type="email" value=""></label>
</div>

<div>
<label>入力フィールド（password）：<input type="password" value=""></label>
</div>

<div>
<label>入力フィールド（search）：<input type="search" value=""></label>
</div>

<div>
<label>入力フィールド（url）：<input type="url" value=""></label>
</div>

<div>
<label>入力フィールド（range）：<input type="range" min="0" max="100" step="1" value="50"></label>
</div>

<div>
<label>入力フィールド（time）：<input type="time" value=""></label>
</div>

<div>
<label>入力フィールド（week）：<input type="week" value=""></label>
</div>

<div>
<label>入力フィールド（date）：<input type="date" value=""></label>
</div>

<div>
<label>入力フィールド（datetime-local）：<input type="datetime-local" value=""></label>
</div>

<div>
<label>入力フィールド（file）：<input type="file"></label>
</div>

<div>
<label>入力フィールド（textarea）：<textarea style="width: 100%;">テキストエリアフィールドですテキストエリアフィールドですテキストエリアフィールドですテキストエリアフィールドですテキストエリアフィールドです</textarea></label>
</div>

<div>
<label>カラーピッカー：<input type="color" value=""></label>
</div>

<div>
<fieldset>
<legend>レジェンド要素</legend>

<input type="radio" id="kraken" name="monster" value="K">
<label for="kraken">Kraken</label><br>

<input type="radio" id="sasquatch" name="monster" value="S">
<label for="sasquatch">Sasquatch</label><br>

<input type="radio" id="mothman" name="monster" value="M">
<label for="mothman">Mothman</label>
</fieldset>
</div>

<!-- プログレス要素 -->

<div>
<label for="progress">progress要素：</label>
<progress id="progress" max="100" value="70">70%</progress>
</div>

<hr>

</main>